<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask</title>
  </head>
  <body>
    <h1>DareTruth</h1>
    <form action="/" method="GET">
      <input type="radio" name="level" value="1" {% if checked["1"] %} checked {% endif %}>Level 1</input>
      <input type="radio" name="level" value="2" {% if checked["2"] %} checked {% endif %}>Level 2</input>
      <input type="radio" name="level" value="3" {% if checked["3"] %} checked {% endif %}>Level 3</input>
      <input type="radio" name="level" value="4" {% if checked["4"] %} checked {% endif %}>Level 4</input>
      <input type="radio" name="level" value="5" {% if checked["5"] %} checked {% endif %}>Level 5</input>
      <br>
      <input type="submit" name="tod" value="Truth"></input>
      <p>or</p>
      <input type="submit" name="tod" value="Dare"></input>
    <h1>{{ newdare }}</h1>
  </body>
</html>
